


body
{
 
 background-color: lightgray;
 text-align: center;

}
div
{
    background-color:#FFFFFF ;
    width: 432px;
    height: 399px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;


    
    
   
    
   
}

button
{
border: none;
padding:4% 15%;


border-radius:5px;
}

#button1
{
    background-color:#ED6755;
    color: #FFFFFF;

}
#button2
{
    background-color:#2C3E50;
    color: #FFFFFF;

}