


body
{
 
 background-color: lightgray;
 text-align: center;

}
div
{
    background-color:#FFFFFF ;
    width: 432px;
    height: 399px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
 
    
    
   
    
   
}

#1

{

}
